{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the homepage of Cassie Kang's Flask app.</p>

<!-- Begin introduction section -->
<section>
    <h2>Experience the Power of AI in Text Generation</h2>
    <p>Welcome to a world where your ideas meet the future of automated text generation. Our OpenAI Prompt Generator is designed to bridge the gap between your creativity and AI's potential. Whether you're looking to spark new ideas, overcome writer's block, or simply explore the capabilities of artificial intelligence, our app is your perfect companion.</p>

    <h3>How It Works</h3>
    <p>It's simple and intuitive:</p>
    <ul>
        <li><strong>Enter Your Prompt:</strong> Start by typing a prompt into the text box. It can be anything you want to ask or talk about.</li>
        <li><strong>Generate and Explore:</strong> Hit the 'Generate Text' button and watch as our app uses OpenAI's sophisticated AI model to turn your prompt into a full-fledged text piece, full of insights and creativity.</li>
        <li><strong>Discover and Innovate:</strong> Each prompt can lead to unique and unexpected directions. Unleash the full potential of AI to fuel your creativity or solve problems.</li>
    </ul>
</section>
<!-- End introduction section -->

{% endblock %}
